<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Cód. Barras (SKU)</th> <th>Categoria</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.nome }}</td> <td>{{ p.preco | currency:'BRL' }}</td> <td>{{ p.sku }}</td> <td>{{ p.categoriaNome || '—' }}</td> 
      <td>
        <button class="btn btn-sm btn-primary me-2" (click)="edit.emit(p)">Editar</button>
        <button class="btn btn-sm btn-danger me-2" (click)="delete.emit(p)">Excluir</button>
        <button class="btn btn-sm btn-success" (click)="addToCart.emit(p)">Comprar</button>
      </td>
    </tr>
  </tbody>
</table>