.navbar {
  background-color: #2C3035; /* Cor do fundo do menu */
  border-bottom: 1px solid #3e4042;
  padding: 0.8rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.navbar-content .brand-minsait {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  
  text-decoration: none; 
}

.logo {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  font-weight: bold;
  margin-right: 20px;
}

.brand-minsait {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #b0b3b8;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover, .nav-links a.active {
  color: #4599ff; /* Azul destaque */
}