<div *ngFor="let item of items()" class="card p-2 mb-2"> <div class="d-flex justify-content-between">
    <div>
      <strong>{{ item.product.nome }}</strong> <div>Qtd: {{ item.quantity }}</div>
      <div>Preço unit: {{ item.product.preco | currency:'BRL' }}</div> </div>
    <div class="text-end">
      <div>Total: {{ (item.product.preco * item.quantity) | currency:'BRL' }}</div>
      <button class="btn btn-sm btn-danger mt-2" (click)="remove(item.product.id)">Remover</button>
    </div>
  </div>
</div>

<div class="mt-3">
    <h4>Total do pedido: {{ getTotal() | currency:'BRL' }}</h4>
  <button class="btn btn-secondary" (click)="clear()">Esvaziar Carrinho</button>
</div>