@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #202529; /* Fundo escuro */
  color: #e4e6eb; /* Texto claro */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* Faz o wrapper do conteúdo principal crescer */
  display: block;
}